<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.min.js"></script>
<title>sleep tracker</title>
</head>
<body>
  <nav>
   <img src="/hero.jpg" class="avatar" alt="user profile picture" style="width: 100px; height: 100px; border-radius: 50%;"/>
   <h5>Sleep Tracking</h5>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/auth/logout">Logout</a></li>
    </ul>
  </nav>

  <div class="container mt-4">
    <div class="row">
      <div class="col-4">
        <div class="card">
          <div class="avatar-ctn">
            <img src="/profile.jpg" class="avatar" alt="user profile picture"/>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{user.name}}</h5>
            <p class="card-text text-primary"><b> Congratulations! <strong class="text-info">{{user.name}} </strong>your account is successfully created.</b>  </p>
            <a href="#" class="btn btn-primary">{{user.email}}</a>
          </div>
        </div>
      </div>

      <div class="col-8">
        <div class="card text-center">
          <div class="card-header text-success">
           <b> Welcome, {{user.name}}</b>
          </div>
          <div class="card-body text-info">
            <h5 class="card-title">sleep hour vs date</h5>
              <div class="chart">
                <canvas id="myChart"> </canvas>
              </div>
            <a href="/new_entry" class="btn btn-primary">New Entry</a>
          </div>
          <div class="card-footer text-muted">
         <p>   {{user.name}}'s profile</p>
          </div>
        </div>
      </div>
    </div>
    

  </div>
  <script>
    let myChart = document.getElementById('myChart').getContext('2d');
    let massPopulation = new Chart(myChart, {
        type: 'bar',
        data: {
          labels: ['8/7/2021', '8/8/2021', '8/9/2021', '8/10/2021','8/11/2021','8/12/2021'],
          datasets: [{
            label: 'sleep hour',
            data: [8, 7, 5, 9, 6, 8],
            //backgroundColor: 'green',
            backgroundColor: [
                         'rgba(255, 99, 132, 0.2)',
                         'rgba(255, 159, 64, 0.2)',
                         'rgba(255, 205, 86, 0.2)',
                         'rgba(75, 192, 192, 0.2)',
                         'rgba(54, 162, 235, 0.2)',
                         'rgba(153, 102, 255, 0.2)',
                         'rgba(201, 203, 207, 0.2)'
             ],
              borderColor: [
      'rgb(255, 99, 132)',
      'rgb(255, 159, 64)',
      'rgb(255, 205, 86)',
      'rgb(75, 192, 192)',
      'rgb(54, 162, 235)',
      'rgb(153, 102, 255)',
      'rgb(201, 203, 207)'
    ],
    borderWidth: 1,
    hoverBorderWidth: 2,
    hoverBorderColor: '#000',
          }]
        },
        Option:{
          title: {
            display: true,
            text: 'sleeping hours'
          },
          legend: {
            position: 'right',
          }
        }
    });
  </script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
</body>
</html>